    
    <!-- ========== SECTION-ALL-PRODUCT ========== -->
    <section class="page-all-product">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-head">Tất cả sản phẩm</h1>
                    <div class="single-image">
                        <img src="../img/All-products/cat-banner-1.jpg" alt="">
                    </div>
                    <div class="owl-carousel owl-category owl-theme">
                        <div class="category-item">
                            <a href="">
                                <div class="category-item-image">
                                    <img src="../img/All-products/category-group/desk.png" alt="">
                                    <h6>Nội thất gỗ</h6>    
                                </div>
                            </a>
                        </div>
                        <div class="category-item">
                            <a href="">
                                <div class="category-item-image">
                                    <img src="../img/All-products/category-group/sofa.png" alt="">
                                    <h6>Sofa, Ghế thư giãn</h6>    
                                </div>
                            </a>
                        </div>
                        <div class="category-item">
                            <a href="">
                                <div class="category-item-image">
                                    <img src="../img/All-products/category-group/living-room.png" alt="">
                                    <h6>Đồ trang trí</h6>    
                                </div>
                            </a>
                        </div>
                        <div class="category-item">
                            <a href="">
                                <div class="category-item-image">
                                    <img src="../img/All-products/category-group/curtains.png" alt="">
                                    <h6>Đồ dùng vải</h6>    
                                </div>
                            </a>
                        </div>
                        <div class="category-item">
                            <a href="">
                                <div class="category-item-image">
                                    <img src="../img/All-products/category-group/dinner-table.png" alt="">
                                    <h6>Vật dụng bàn ăn</h6>    
                                </div>
                            </a>
                        </div>
                        <div class="category-item">
                            <a href="">
                                <div class="category-item-image">
                                    <img src="../img/All-products/category-group/work-station-1.png" alt="">
                                    <h6>Đồ dùng văn phòng</h6>    
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <aside class="evo-sidebar col-lg-3 col-md-3">
                    <div class="aside-item">
                        <div class="aside-title">
                            <h3 class="title-head">Danh mục</h3>
                        </div>
                        <div class="aside-content">
                            <ul class="nav-category">
                                <li class="nav-item">
                                    <a href="/" class="nav-link">Trang chủ</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/gioi-thieu.html" class="nav-link">Giới thiệu</a>
                                </li>
                                <li class="nav-item plus-span">
                                    <div>
                                        <a href="/all-sanpham.html" class="nav-link">Sản phẩm</a>
                                        <span><i class="fas fa-plus"></i></span>
                                    </div>
                                    <!-- DROPDOWN-MENU -->
                                    <ul class="dropdown-menu1">
                                        <li class="dropdown-item nav-item plus-span">
                                            <a href="" class="nav-link">Nội thất gỗ</a>
                                        </li>
                                        <li class="dropdown-item nav-item">
                                            <a href="" class="nav-link">Sofa, Ghế thư giãn</a>
                                        </li>
                                        <li class="dropdown-item nav-item">
                                            <a href="" class="nav-link">Đồ trang trí</a>
                                        </li>
                                        <li class="dropdown-item nav-item">
                                            <a href="" class="nav-link">Đồ dùng vải</a>
                                        </li>
                                        <li class="dropdown-item nav-item">
                                            <a href="" class="nav-link">Vật dụng bàn ăn</a>
                                        </li>
                                        <li class="dropdown-item nav-item">
                                            <a href="" class="nav-link">Đồ dùng văn phòng</a>
                                        </li>
                                        <li class="dropdown-item nav-item">
                                            <a href="" class="nav-link">Đèn</a>
                                        </li>
                                        <li class="dropdown-item nav-item">
                                            <a href="" class="nav-link">Dụng cụ nhà bếp</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="/" class="nav-link">Hàng mới về</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/" class="nav-link">Tin tức</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/lien-he.html" class="nav-link">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="aside-filter">
                        <div class="heading">Tìm theo</div>
                        <div class="filter-container">
                            <div class="filter">
                                <div class="title">Giá sản phẩm</div>
                                <div class="content">
                                    <ul>
                                        <li class="filter-item">
                                            <span>
                                                <label for="">
                                                    <input type="checkbox">
                                                    Giá dưới 100.000đ
                                                </label>
                                            </span>
                                        </li>
                                        <li class="filter-item">
                                            <span>
                                                <label for="">
                                                    <input type="checkbox">
                                                    Giá dưới 100.000đ
                                                </label>
                                            </span>
                                        </li>
                                        <li class="filter-item">
                                            <span>
                                                <label for="">
                                                    <input type="checkbox">
                                                    Giá dưới 100.000đ
                                                </label>
                                            </span>
                                        </li>
                                        <li class="filter-item">
                                            <span>
                                                <label for="">
                                                    <input type="checkbox">
                                                    Giá dưới 100.000đ
                                                </label>
                                            </span>
                                        </li>
                                        <li class="filter-item">
                                            <span>
                                                <label for="">
                                                    <input type="checkbox">
                                                    Giá dưới 100.000đ
                                                </label>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="filter">
                                <div class="title">Giá sản phẩm</div>
                                <div class="content">
                                    <ul>
                                        <li class="filter-item">
                                            <span>
                                                <label for="">
                                                    <input type="checkbox">
                                                    Giá dưới 100.000đ
                                                </label>
                                            </span>
                                        </li>
                                        <li class="filter-item">
                                            <span>
                                                <label for="">
                                                    <input type="checkbox">
                                                    Giá dưới 100.000đ
                                                </label>
                                            </span>
                                        </li>
                                        <li class="filter-item">
                                            <span>
                                                <label for="">
                                                    <input type="checkbox">
                                                    Giá dưới 100.000đ
                                                </label>
                                            </span>
                                        </li>
                                        <li class="filter-item">
                                            <span>
                                                <label for="">
                                                    <input type="checkbox">
                                                    Giá dưới 100.000đ
                                                </label>
                                            </span>
                                        </li>
                                        <li class="filter-item">
                                            <span>
                                                <label for="">
                                                    <input type="checkbox">
                                                    Giá dưới 100.000đ
                                                </label>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="filter">
                                <div class="title">Giá sản phẩm</div>
                                <div class="content">
                                    <ul>
                                        <li class="filter-item">
                                            <span>
                                                <label for="">
                                                    <input type="checkbox">
                                                    Giá dưới 100.000đ
                                                </label>
                                            </span>
                                        </li>
                                        <li class="filter-item">
                                            <span>
                                                <label for="">
                                                    <input type="checkbox">
                                                    Giá dưới 100.000đ
                                                </label>
                                            </span>
                                        </li>
                                        <li class="filter-item">
                                            <span>
                                                <label for="">
                                                    <input type="checkbox">
                                                    Giá dưới 100.000đ
                                                </label>
                                            </span>
                                        </li>
                                        <li class="filter-item">
                                            <span>
                                                <label for="">
                                                    <input type="checkbox">
                                                    Giá dưới 100.000đ
                                                </label>
                                            </span>
                                        </li>
                                        <li class="filter-item">
                                            <span>
                                                <label for="">
                                                    <input type="checkbox">
                                                    Giá dưới 100.000đ
                                                </label>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <section class="col-lg-9 col-md-12 col-xs-12">
                    <div class="sort-product">
                        <h3>Xếp theo:</h3>
                        <ul>
                            <li class="btn-quick-sort">
                                <span>
                                    <label for="">
                                        <input type="checkbox">
                                        Tên A-Z
                                    </label>
                                </span>
                            </li>
                            <li class="btn-quick-sort">
                                <span>
                                    <label for="">
                                        <input type="checkbox">
                                        Tên Z-A
                                    </label>
                                </span>
                            </li>
                            <li class="btn-quick-sort">
                                <span>
                                    <label for="">
                                        <input type="checkbox">
                                        Hàng mới
                                    </label>
                                </span>
                            </li>
                            <li class="btn-quick-sort">
                                <span>
                                    <label for="">
                                        <input type="checkbox">
                                        Giá thấp đến cao
                                    </label>
                                </span>
                                <a href=""></a>
                            </li>
                            <li class="btn-quick-sort">
                                <span>
                                    <label for="">
                                        <input type="checkbox">
                                        Giá cao xuống thấp
                                    </label>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="product-view">
                        <div class="row" id="list-product">
                            <!-- ... Render products from API -->
                        </div>
                    </div>
                    <div class="shop-pag">
                        <nav class="text-center">
                            <ul class="pagination pagination-lg">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                </a>
                              </li>
                            </ul>
                        </nav>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <script>
        // =============================================
        // API-ALL-PRODUCT 
        // =============================================
        var productAPI = 'http://localhost:3000/products/show'
        function start() {
            getProducts(renderProducts)
        }
        start()

        function format(n) {
            return (n * 1000).toLocaleString('vi', {
                style: 'currency',
                currency: 'VND'
            })
        }
        function getProducts(callback) {
            fetch(productAPI)
                .then((response) => {
                    return response.json()
                })
                .then(callback)
        }
        function renderProducts(products) {
            var listProductsBlock = document.querySelector('#list-product')
            console.log(listProductsBlock)
            var htmls = products.map(function(product) {
                return `
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <div class="evo-product-block-item">
                            <div class="product-img">
                                <a href="./detail-sanpham.html">
                                    <img class="img-prd" src="../img/All-products/${product.img}.jpg" alt="">
                                </a>
                            </div>
                            <div class="button-add">
                                <button>
                                    <i class="far fa-check-square"></i>
                                </button>
                                <button class="btn-cart" type="submit"
                                    data-bs-toggle="modal" data-bs-target="#cartModal"
                                    onClick="cartLS.add({id: ${product.id}, name: '${product.name}', img:'${product.img}', price: ${product.price}})">
                                        <i class="fas fa-shopping-bag"></i>
                                </button>
                            </div>
                            <div class="product-detail">
                                <div class="pro-brand">
                                    <a href="">Evo Nội Thất</a>
                                </div>
                                <h3>
                                    <a href="" class="pro-name">${product.name}</a>
                                </h3>
                                <p class="pro-price">${format(product.price)}</p>
                            </div>
                        </div>
                    </div>`
            })
            listProductsBlock.innerHTML = htmls.join('')
        }
        
    </script>