<div class="mt-4">
    <h3>CREATE PRODUCT</h3>
    <form method="POST" action="/product/store">
        <div class="mb-3">
            <label for="product_id" class="form-label">product_id</label>
            <input type="text" class="form-control" name="product_id" id="product_id" >
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">name</label>
            <input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp">
        </div>
         <div class="mb-3">
            <label for="type" class="form-label">Type</label>
            <input type="text" class="form-control" name="type" id="type" aria-describedby="emailHelp">
        </div>
         <div class="mb-3">
            <label for="tag" class="form-label">tag</label>
            <input type="text" class="form-control" name="tag" id="tag" aria-describedby="emailHelp">
        </div>
        
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>