    <!-- ========== SECTION-CART ========== -->
    <div class="shopping-cart">
        <div class="container">
            <!-- Cart-Title -->
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-head">
                        Giỏ Hàng
                        <span class="count-item">(0 sản phẩm)</span>
                    </h1>
                </div>
            </div>
            <!-- Cart-Content -->
            <div class="row">
                <div class="col-lg-12 cart-empty d-none">
                    <span class="empty-icon">
                        <i class="ico-cart"></i>
                    </span>
                    <div class="btn-cart-empty">
                        <a href="all-sanpham" class="btn btn-lg btn-checkouts">Tiếp tục mua hàng</a>
                    </div>
                </div>
                <div class="col-lg-9 cart-in-stock">
                    <div class="content">
                        <table class="table d-none d-lg-table">
                            <tbody id="order_items">
                                <!-- Render products desktop -->
                            </tbody>
                        </table>
                        <div id="order_items_mobile" class="mobile_table d-lg-none mb-3 bg-white p-3 pt-4">
                            <!-- Render products mobile -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 cart-in-stock">
                    <div class="container">
                        <div class="cart-submit">
                            <div class="box-fee">
                                <p>
                                    <span>Tạm tính:</span>
                                    <strong id="total-price" class="total">0₫</strong>
                                </p>
                            </div>
                            <div class="box-fee">
                                <p>
                                    <span>Thành tiền:</span>
                                    <strong id="total-price" class="total amount">0₫</strong>
                                </p>
                            </div>
                            <a href="checkout" class="btn btn-lg btn-checkout">Thanh toán ngay</a>
                            <a href="all-sanpham" class="btn btn-lg btn-checkouts">Tiếp tục mua hàng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
