    <!-- ========== SECTION-PAGE-INTRO ========== -->
    <section class="page-intro">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="page-intro-title">
                        <h1 class="title-head">
                            <a href="">Giới thiệu</a>
                        </h1>
                    </div>
                    <div class="page-intro-content">
                        <h3>
                            <strong>Những mặt hàng thương hiệu EVO cung cấp</strong>
                        </h3>
                        <p>Showroom EVO giới thiệu hàng loạt các sản phẩm với thiết kế theo xu hướng mới nhất trên thị trường nội thất hiện nay với kiểu dáng tinh tế, hiện đại, mang tính thẩm mỹ cao như: bàn ghế sofa, bàn ăn, thảm trang trí, thiết bị vệ sinh mạ vàng đèn trang trí, giấy dán tường, tranh treo tường, hoa và những phụ kiện trang trí...</p>
                    </div>
                    <div class="page-intro-content">
                        <h3>
                            <strong>Niềm tin được đặt đúng chỗ khi đến với EVO </strong>
                        </h3>
                        <p>Siêu thị nội thất EVO với 02 showroom diện tích hơn 800 m2, nằm ở vị trí trung tâm thành phố Đà Nẵng với hệ thống giao thông thuận lợi, là điểm đến tin cậy làm vừa lòng cả những vị khách hàng khó tính nhất. Showroom được xây dựng với tiêu chuẩn 3S (Super, Special và Smart) với đầy đủ tiện nghi, cơ sở vật chất hiện đại, sang trọng. Những sản phẩm được trưng bày tại showroom cam kết mang chất lượng tốt nhất, mang kiểu dáng, mẫu mã và thiết kế mới nhất, nắm bắt nhanh và theo kịp những xu hướng trang trí nội thất mới nhất.</p>
                    </div>
                    <div class="page-intro-content">
                        <h3>
                            <strong>Niềm tin được đặt đúng chỗ khi đến với EVO </strong>
                        </h3>
                        <p>Siêu thị nội thất EVO với 02 showroom diện tích hơn 800 m2, nằm ở vị trí trung tâm thành phố Đà Nẵng với hệ thống giao thông thuận lợi, là điểm đến tin cậy làm vừa lòng cả những vị khách hàng khó tính nhất. Showroom được xây dựng với tiêu chuẩn 3S (Super, Special và Smart) với đầy đủ tiện nghi, cơ sở vật chất hiện đại, sang trọng. Những sản phẩm được trưng bày tại showroom cam kết mang chất lượng tốt nhất, mang kiểu dáng, mẫu mã và thiết kế mới nhất, nắm bắt nhanh và theo kịp những xu hướng trang trí nội thất mới nhất.</p>
                    </div>
                    <div class="page-intro-content">
                        <h3>
                            <strong>Niềm tin được đặt đúng chỗ khi đến với EVO </strong>
                        </h3>
                        <p>Siêu thị nội thất EVO với 02 showroom diện tích hơn 800 m2, nằm ở vị trí trung tâm thành phố Đà Nẵng với hệ thống giao thông thuận lợi, là điểm đến tin cậy làm vừa lòng cả những vị khách hàng khó tính nhất. Showroom được xây dựng với tiêu chuẩn 3S (Super, Special và Smart) với đầy đủ tiện nghi, cơ sở vật chất hiện đại, sang trọng. Những sản phẩm được trưng bày tại showroom cam kết mang chất lượng tốt nhất, mang kiểu dáng, mẫu mã và thiết kế mới nhất, nắm bắt nhanh và theo kịp những xu hướng trang trí nội thất mới nhất.</p>
                    </div>
                    <div class="page-intro-content">
                        <h3>
                            <strong>Niềm tin được đặt đúng chỗ khi đến với EVO </strong>
                        </h3>
                        <p>Siêu thị nội thất EVO với 02 showroom diện tích hơn 800 m2, nằm ở vị trí trung tâm thành phố Đà Nẵng với hệ thống giao thông thuận lợi, là điểm đến tin cậy làm vừa lòng cả những vị khách hàng khó tính nhất. Showroom được xây dựng với tiêu chuẩn 3S (Super, Special và Smart) với đầy đủ tiện nghi, cơ sở vật chất hiện đại, sang trọng. Những sản phẩm được trưng bày tại showroom cam kết mang chất lượng tốt nhất, mang kiểu dáng, mẫu mã và thiết kế mới nhất, nắm bắt nhanh và theo kịp những xu hướng trang trí nội thất mới nhất.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>