    <!-- ========== SECTION-PAGE-INTRO ========== -->
    <section class="page-login">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-login-title">
                        <h3 class="title-head">Đăng nhập tài khoản</h3>
                    </div>
                    <div class="page-login-social">
                        <a href="" class="social-login">
                            <img src="../img/login-register/fb-btn.svg" alt="">
                        </a>
                        <a href="" class="social-login">
                            <img src="../img/login-register/gp-btn.svg" alt="">
                        </a>
                    </div>
                    <div class="line-break">
                        <span>hoặc</span>
                    </div>
                    <form action="" class="form" id="form-2">
                        <div class="form-group">
                            <label for="email" class="form-label">Email*</label>
                            <input id="email" name="email" type="text" class="form-control" placeholder="Nhập Địa Chỉ Email">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label for="password" class="form-label">Mật khẩu*</label>
                            <input id="password" name="password" type="password" class="form-control" placeholder="Nhập mật khẩu">
                            <span class="form-message"></span>
                        </div>
                        <button class="form-submit">Đăng nhập</button>
                        <p class="text-center">
                            <a href="" class="forgot-password">Quên mật khẩu?</a>
                        </p>
                        <div class="text-login text-center mt-4">
                            <p>
                                BẠN CHƯA CÓ TÀI KHOẢN. ĐĂNG KÝ
                                <a href="/register">tại đây.</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Validator({
            form: '#form-2',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.isRequired('#email'),
                Validator.isEmail('#email', 'Vui lòng nhập Email'),
                Validator.isRequired('#password'),
                Validator.minLength('#password', 5),
            ],
            onSubmit: (data) => {
                console.log(data)
            }
        })
    })
    </script>
</body>
</html> 