    <!-- ========== SECTION-BREAD-CRUMP ========== -->
    <section class="bread-crump">
        <div class="container">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Kết quả tìm kiếm</li>
                </ol>
            </nav>
        </div>
    </section>
    <!-- ========== SECTION-PAGE-INTRO ========== -->
    <section class="search-result">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="search-title text-center">
                        <h1 class="title-head">NHẬP TỪ KHÓA ĐỂ TÌM KIẾM SẢN PHẨM</h1>
                    </div>
                    <div class="search-input" style="width: 500px; margin: auto">
                        <div id="users">
                            <div class="input-group">
                                <input type="search" class="search form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                                <button type="button" class="btn btn-outline-primary">search</button>
                            </div>      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>