<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evo Nội Thất</title>
    <!-- ========== STYLESHEETS ========== -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="../css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/responsive.css">
    <link rel="stylesheet" type="text/css" href="../css/toast-message.css">
    <link rel="stylesheet" type="text/css" href="../css/validator.css">
    <!-- ========== ICON FONTS ========== -->
    <link rel="stylesheet" href="../fonts/fontawesome-free-5.15.3-web/css/all.min.css">
</head>
<body>
    
    {{> header}}
    
    {{{body}}}
    
    {{> footer}}

    <!-- ========== JAVASCRIPT ========== -->
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/cart-localstorage.min.js"></script>
    <script src="../js/cart.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/validator.js"></script>
    <script src="../js/toast-message.js"></script>
    <script src="../js/checkout.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="../js/page/{{js}}"></script>
</body>
</html>